h1{color: red;
background: black;
font-size: 3em}
h2{font-size: 2em}
.series {color: darkblue;}
.peliculas {color: darkred;}
div {background: red;
margin-right:90px }
p {font-size: 1.2em}
ul {font-size: 1.2em}
